# dependencies
node_modules

# IDEs and editors
/.idea
.project
.classpath
*.launch
.settings/

# Environment variables
.env/
.env
*.env

# misc
/public
/tmp/*
/db/*
/lib/*
/modules/devtools
/modules/devtools/*
/config/sslcerts/*
.DS_Store

# Logs
/logs/*.log
/logs/
npm-debug.log*
yarn-error.log
yarn.lock

# Git files
*.orig
!.gitkeep

# npm files
package-lock.json

# Vercel
.vercel
